@charset "UTF-8";
html {
  font-family: sans-serif;
}

body {
  line-height: 1.4;
  margin-bottom: 5rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #141414;
    color: #e1dfdc;
  }
}

nav:not(#TableOfContents) {
  max-width: calc(720px + 128px * 2);
  margin: 1rem auto 0;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas: "logo header" "logo nav" "logo none";
}
nav:not(#TableOfContents) img {
  grid-area: logo;
}

@media (prefers-color-scheme: dark) {
  nav:not(#TableOfContents) img {
    filter: invert(0.92);
  }
}
nav:not(#TableOfContents) h1 {
  grid-area: header;
  margin: 0;
  padding: 0;
}
nav:not(#TableOfContents) ul {
  grid-area: nav;
  margin: 0.5rem 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
nav:not(#TableOfContents) ul li {
  padding-right: 1rem;
}

main {
  max-width: 720px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  main {
    padding: 0;
  }
}

span .c {
  color: #222;
  font-weight: bold;
}

span .s2 {
  color: #484;
  font-style: italic;
}

span .k,
span .kd,
span .nt,
span .nb {
  color: #008;
}

@media (prefers-color-scheme: dark) {
  span .c {
    color: #999;
  }
  span .s2 {
    color: #f79;
  }
  span .k,
  span .kd,
  span .nt,
  span .nb {
    color: #69f;
  }
}

.alert {
  padding: 0.5rem;
  border: 1px solid transparent;
  margin-bottom: 1rem;
}
.alert > p {
  margin: 0;
}

.alert-info {
  background: #d1ecf1;
  color: #0c5460;
  border-color: #bee5eb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

a {
  color: #007bff;
}
a:visited {
  color: #003e80;
}
a:hover {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #78bef8;
  }
  a:visited {
    color: #48a7f5;
  }
}

.tutorial-link {
  text-decoration: none;
  border-bottom: 1.25px solid #007bff;
}
.tutorial-link:after {
  content: " ▶";
  border-bottom: 1.25px solid white;
}

@media (prefers-color-scheme: dark) {
  .tutorial-link {
    border-bottom: 1.25px solid #78bef8;
  }
  .tutorial-link:after {
    content: " ▶";
    border-bottom: 1.25px solid #121415;
  }
}
.tutorial-link:hover {
  border-bottom: none;
}

code {
  font-size: 1rem;
  background: #eee;
  padding: 0 0.3rem;
}

@media (prefers-color-scheme: dark) {
  code {
    background: #16191c;
  }
}

pre code {
  font-size: inherit;
  padding: 0;
}

pre {
  background-color: #eee;
  padding: 0.25rem 1rem;
  margin: 0 -1rem;
  overflow-x: auto;
}

@media (max-width: 1200px) {
  pre {
    padding: 0;
    margin: 0;
  }
}
pre .cp,
pre .c1 {
  color: #222;
  font-weight: bold;
}
pre .kt {
  color: #44f;
}
pre .nt {
  color: #008;
}
pre .s,
pre .s2,
pre .sd,
pre .s1 {
  color: #484;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  pre {
    background-color: #16191c;
  }
  pre .kt {
    color: #3cf;
  }
  pre .s,
  pre .s2,
  pre .sd,
  pre s1 {
    color: #f79;
  }
  pre .mi {
    color: #aac;
  }
  pre .c1 {
    color: #999;
  }
  pre .cp {
    color: #db8;
  }
  pre .nt {
    color: #69f;
  }
}

main img {
  display: block;
  margin: 0.5rem auto;
  max-width: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table th {
  text-align: left;
}
table td,
table th {
  border-bottom: 1px solid black;
}
table .yes,
table .todo {
  display: inline-block;
  width: 1rem;
  text-align: center;
}
table .yes {
  color: green;
}
table .todo {
  color: red;
}

details {
  background: #eee;
  margin-top: 1rem;
}
details summary {
  cursor: pointer;
  padding: 0.5rem 1rem;
}

@media (prefers-color-scheme: dark) {
  details {
    background: #24272b;
  }
}
details[open] {
  padding: 0 0.5rem 0 0.5rem;
  border-left: 5px solid #eee;
  background: white;
}
details[open] summary {
  background: #eee;
  margin: auto -0.5rem -0.5rem calc(-0.5rem - 5px);
}

@media (prefers-color-scheme: dark) {
  details[open] summary {
    background: #24272b;
  }
}

@media (prefers-color-scheme: dark) {
  details[open] {
    background: #121415;
    border-left: 5px solid #24272b;
  }
}

.stub h2 {
  margin-bottom: 0;
}

h2 small {
  font-weight: normal;
  font-size: 1.2rem;
  display: block;
  border-bottom: 1px solid #555;
  margin-top: 0.5rem;
  color: #555;
}

h4 small {
  font-weight: normal;
  display: block;
  border-bottom: 1px solid #555;
  margin-top: 0.5rem;
  color: #555;
}

blockquote {
  border-left: 4px solid #888;
  margin-left: 0;
  padding-left: 1rem;
}

ol li {
  line-height: 1.3;
}
ol li:not(:last-child) {
  margin-bottom: 0.35rem;
}

#TableOfContents {
  border-left: 2px solid gray;
  padding-left: 0;
}
details #TableOfContents {
  border-left: none;
}
#TableOfContents ol li {
  margin: auto;
  line-height: auto;
}

.code-tutorial {
  max-width: 1200px;
}
.code-tutorial .content {
  margin-bottom: 16rem;
  max-width: 1000px;
  margin: 0 auto;
}
.code-tutorial section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "header header" "details sample";
  margin-bottom: 12rem;
  grid-gap: 0 1rem;
}

@media (max-width: 1200px) {
  .code-tutorial section {
    display: block;
  }
  .code-tutorial section .highlight pre {
    overflow-x: auto;
  }
}
.code-tutorial section > * {
  grid-area: details;
}
.code-tutorial section > h3 {
  grid-area: header;
}
.code-tutorial section .highlight {
  grid-area: sample;
}

@media (min-width: 1200px) {
  .code-tutorial section .highlight pre {
    margin: 0;
  }
}
.code-tutorial section .details {
  grid-area: details;
}

@media (min-width: 1200px) {
  .code-tutorial section .details {
    padding-right: 1rem;
  }
}
.code-tutorial section .details p:first-child {
  margin-top: 0;
}
.code-tutorial section .details .alert {
  margin: 0;
}
.code-tutorial section pre {
  overflow-x: auto;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.2rem 1rem;
}
dl dt {
  font-weight: bold;
  grid-column-start: 1;
}
dl dd {
  grid-column-start: 2;
  margin: 0;
}

.htmlsample pre {
  margin-bottom: 1rem !important;
}

iframe,
video {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

footer {
  text-align: center;
}

.image img {
  display: block;
  margin: 0.5rem auto;
  width: 50%;
  max-width: 80%;
}
.image figure {
  margin: 0 20px 0 20px;
}
.image figcaption {
  margin: auto;
  width: 75%;
  text-align: center;
  font-size: 0.8rem;
}

@media (prefers-color-scheme: dark) {
  .image figcaption {
    color: #555;
  }
}

@media (max-width: 768px) {
  .image figcaption {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .image {
    width: 100%;
  }
}

.image-center {
  margin: auto;
  display: block;
}

.image-left {
  float: left;
  width: 50%;
}

@media (max-width: 768px) {
  .image-left {
    float: none;
    margin: auto;
    display: block;
    width: 100%;
  }
}

.image-right {
  width: 50%;
  float: right;
}

@media (max-width: 768px) {
  .image-right {
    float: none;
    margin: auto;
    display: block;
    width: 100%;
  }
}
