<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{- block "title" . -}}
        {{- .Site.Title -}}
      {{ end }}
    </title>
    {{ $style := resources.Get "css/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    {{- template "_internal/opengraph.html" . -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    {{ if .Param "libs" }}
        {{ partialCached "libs.html" . }}
    {{ end }}
  </head>
  <body>
      {{- partial "nav.html" -}}
      <main>
        {{- block "main" . -}}
        {{ end }}

        {{- block "footer" . -}}
          {{- partial "footer.html" . -}}
        {{ end }}
      </main>
    </main>
  </body>
</html>
