<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{- block "title" . -}}
        {{- .Site.Title -}}
      {{ end }}
    </title>
    {{ $style := resources.Get "css/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    {{- template "_internal/opengraph.html" . -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    {{ if .Param "math" }}
        {{ partialCached "math.html" . }}
    {{ end }}
    {{ if .Param "graph" }}
        {{ partialCached "graph.html" . }}
    {{ end }}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js"></script>
  </head>
  <body>
      {{- partial "nav.html" -}}
      <main>
        {{- block "main" . -}}
        {{ end }}

        {{- block "footer" . -}}
          {{- partial "footer.html" . -}}
        {{ end }}
      </main>
    </main>
  </body>
</html>
