{{/* possible sizes */}}
{{ $sizes := (slice "480" "800" "1200" "1500") }}
{{ $caption := .Inner | default "" }}

<!-- you can overload these: -->
{{ $side := .Get "side" }}
{{ $src := resources.Get (.Get "src") }}

<div class="image image-{{- $side -}}">
  <figure>
    <img
      sizes="(min-width: 35em) 1500px, 100vw"

      {{/* Only resize if the image width size is bigger than the resize size. */}}
      srcset='
        {{ range $sizes }}
          {{ if ge $src.Width . }}
            {{ ($src.Resize (printf "%sx" .)).Permalink }} {{ (printf "%sw" .) }},
          {{ end }}
        {{ end }}'

      {{/* when no support for srcset (old browsers, RSS), we load small (800px) */}}
      {{/* if image smaller than 800, then load the image itself */}}
      {{ if ge $src.Width "800" }}
        src="{{ ($src.Resize "800x").Permalink }}"
      {{ else }}
        src="{{ $src.Permalink }}"
      {{ end }}
      alt="{{- $caption -}}" loading="lazy"/>

    <figcaption>
      {{ if $caption }}
        <em>{{ $caption | markdownify }}</em>
      {{ end }}
      (<a href="{{ $src.Permalink }}">original</a>)
    </figcaption>
  </figure>
</div>
